.hovertop-1px:hover{top: 1px;}
.hoverbottom-1px:hover{bottom: 1px;}
.hoverleft-1px:hover{left: 1px;}
.hoverright-1px:hover{right: 1px;}


.hovertop-11px:hover{top: 11px;}
.hoverbottom-11px:hover{bottom: 11px;}
.hoverleft-11px:hover{left: 11px;}
.hoverright-11px:hover{right: 11px;}


.hovertop-21px:hover{top: 21px;}
.hoverbottom-21px:hover{bottom: 21px;}
.hoverleft-21px:hover{left: 21px;}
.hoverright-21px:hover{right: 21px;}


.hovertop-31px:hover{top: 31px;}
.hoverbottom-31px:hover{bottom: 31px;}
.hoverleft-31px:hover{left: 31px;}
.hoverright-31px:hover{right: 31px;}


.hovertop-41px:hover{top: 41px;}
.hoverbottom-41px:hover{bottom: 41px;}
.hoverleft-41px:hover{left: 41px;}
.hoverright-41px:hover{right: 41px;}


.hovertop-51px:hover{top: 51px;}
.hoverbottom-51px:hover{bottom: 51px;}
.hoverleft-51px:hover{left: 51px;}
.hoverright-51px:hover{right: 51px;}


.hovertop-61px:hover{top: 61px;}
.hoverbottom-61px:hover{bottom: 61px;}
.hoverleft-61px:hover{left: 61px;}
.hoverright-61px:hover{right: 61px;}


.hovertop-71px:hover{top: 71px;}
.hoverbottom-71px:hover{bottom: 71px;}
.hoverleft-71px:hover{left: 71px;}
.hoverright-71px:hover{right: 71px;}


.hovertop-81px:hover{top: 81px;}
.hoverbottom-81px:hover{bottom: 81px;}
.hoverleft-81px:hover{left: 81px;}
.hoverright-81px:hover{right: 81px;}


.hovertop-91px:hover{top: 91px;}
.hoverbottom-91px:hover{bottom: 91px;}
.hoverleft-91px:hover{left: 91px;}
.hoverright-91px:hover{right: 91px;}


.hovertop-101px:hover{top: 101px;}
.hoverbottom-101px:hover{bottom: 101px;}
.hoverleft-101px:hover{left: 101px;}
.hoverright-101px:hover{right: 101px;}




.hovertop-2px:hover{top: 2px;}
.hoverbottom-2px:hover{bottom: 2px;}
.hoverleft-2px:hover{left: 2px;}
.hoverright-2px:hover{right: 2px;}


.hovertop-12px:hover{top: 12px;}
.hoverbottom-12px:hover{bottom: 12px;}
.hoverleft-12px:hover{left: 12px;}
.hoverright-12px:hover{right: 12px;}


.hovertop-22px:hover{top: 22px;}
.hoverbottom-22px:hover{bottom: 22px;}
.hoverleft-22px:hover{left: 22px;}
.hoverright-22px:hover{right: 22px;}


.hovertop-32px:hover{top: 32px;}
.hoverbottom-32px:hover{bottom: 32px;}
.hoverleft-32px:hover{left: 32px;}
.hoverright-32px:hover{right: 32px;}


.hovertop-42px:hover{top: 42px;}
.hoverbottom-42px:hover{bottom: 42px;}
.hoverleft-42px:hover{left: 42px;}
.hoverright-42px:hover{right: 42px;}


.hovertop-52px:hover{top: 52px;}
.hoverbottom-52px:hover{bottom: 52px;}
.hoverleft-52px:hover{left: 52px;}
.hoverright-52px:hover{right: 52px;}


.hovertop-62px:hover{top: 62px;}
.hoverbottom-62px:hover{bottom: 62px;}
.hoverleft-62px:hover{left: 62px;}
.hoverright-62px:hover{right: 62px;}


.hovertop-72px:hover{top: 72px;}
.hoverbottom-72px:hover{bottom: 72px;}
.hoverleft-72px:hover{left: 72px;}
.hoverright-72px:hover{right: 72px;}


.hovertop-82px:hover{top: 82px;}
.hoverbottom-82px:hover{bottom: 82px;}
.hoverleft-82px:hover{left: 82px;}
.hoverright-82px:hover{right: 82px;}


.hovertop-92px:hover{top: 92px;}
.hoverbottom-92px:hover{bottom: 92px;}
.hoverleft-92px:hover{left: 92px;}
.hoverright-92px:hover{right: 92px;}


.hovertop-102px:hover{top: 102px;}
.hoverbottom-102px:hover{bottom: 102px;}
.hoverleft-102px:hover{left: 102px;}
.hoverright-102px:hover{right: 102px;}




.hovertop-3px:hover{top: 3px;}
.hoverbottom-3px:hover{bottom: 3px;}
.hoverleft-3px:hover{left: 3px;}
.hoverright-3px:hover{right: 3px;}


.hovertop-13px:hover{top: 13px;}
.hoverbottom-13px:hover{bottom: 13px;}
.hoverleft-13px:hover{left: 13px;}
.hoverright-13px:hover{right: 13px;}


.hovertop-23px:hover{top: 23px;}
.hoverbottom-23px:hover{bottom: 23px;}
.hoverleft-23px:hover{left: 23px;}
.hoverright-23px:hover{right: 23px;}


.hovertop-33px:hover{top: 33px;}
.hoverbottom-33px:hover{bottom: 33px;}
.hoverleft-33px:hover{left: 33px;}
.hoverright-33px:hover{right: 33px;}


.hovertop-43px:hover{top: 43px;}
.hoverbottom-43px:hover{bottom: 43px;}
.hoverleft-43px:hover{left: 43px;}
.hoverright-43px:hover{right: 43px;}


.hovertop-53px:hover{top: 53px;}
.hoverbottom-53px:hover{bottom: 53px;}
.hoverleft-53px:hover{left: 53px;}
.hoverright-53px:hover{right: 53px;}


.hovertop-63px:hover{top: 63px;}
.hoverbottom-63px:hover{bottom: 63px;}
.hoverleft-63px:hover{left: 63px;}
.hoverright-63px:hover{right: 63px;}


.hovertop-73px:hover{top: 73px;}
.hoverbottom-73px:hover{bottom: 73px;}
.hoverleft-73px:hover{left: 73px;}
.hoverright-73px:hover{right: 73px;}


.hovertop-83px:hover{top: 83px;}
.hoverbottom-83px:hover{bottom: 83px;}
.hoverleft-83px:hover{left: 83px;}
.hoverright-83px:hover{right: 83px;}


.hovertop-93px:hover{top: 93px;}
.hoverbottom-93px:hover{bottom: 93px;}
.hoverleft-93px:hover{left: 93px;}
.hoverright-93px:hover{right: 93px;}


.hovertop-103px:hover{top: 103px;}
.hoverbottom-103px:hover{bottom: 103px;}
.hoverleft-103px:hover{left: 103px;}
.hoverright-103px:hover{right: 103px;}




.hovertop-4px:hover{top: 4px;}
.hoverbottom-4px:hover{bottom: 4px;}
.hoverleft-4px:hover{left: 4px;}
.hoverright-4px:hover{right: 4px;}


.hovertop-14px:hover{top: 14px;}
.hoverbottom-14px:hover{bottom: 14px;}
.hoverleft-14px:hover{left: 14px;}
.hoverright-14px:hover{right: 14px;}


.hovertop-24px:hover{top: 24px;}
.hoverbottom-24px:hover{bottom: 24px;}
.hoverleft-24px:hover{left: 24px;}
.hoverright-24px:hover{right: 24px;}


.hovertop-34px:hover{top: 34px;}
.hoverbottom-34px:hover{bottom: 34px;}
.hoverleft-34px:hover{left: 34px;}
.hoverright-34px:hover{right: 34px;}


.hovertop-44px:hover{top: 44px;}
.hoverbottom-44px:hover{bottom: 44px;}
.hoverleft-44px:hover{left: 44px;}
.hoverright-44px:hover{right: 44px;}


.hovertop-54px:hover{top: 54px;}
.hoverbottom-54px:hover{bottom: 54px;}
.hoverleft-54px:hover{left: 54px;}
.hoverright-54px:hover{right: 54px;}


.hovertop-64px:hover{top: 64px;}
.hoverbottom-64px:hover{bottom: 64px;}
.hoverleft-64px:hover{left: 64px;}
.hoverright-64px:hover{right: 64px;}


.hovertop-74px:hover{top: 74px;}
.hoverbottom-74px:hover{bottom: 74px;}
.hoverleft-74px:hover{left: 74px;}
.hoverright-74px:hover{right: 74px;}


.hovertop-84px:hover{top: 84px;}
.hoverbottom-84px:hover{bottom: 84px;}
.hoverleft-84px:hover{left: 84px;}
.hoverright-84px:hover{right: 84px;}


.hovertop-94px:hover{top: 94px;}
.hoverbottom-94px:hover{bottom: 94px;}
.hoverleft-94px:hover{left: 94px;}
.hoverright-94px:hover{right: 94px;}


.hovertop-104px:hover{top: 104px;}
.hoverbottom-104px:hover{bottom: 104px;}
.hoverleft-104px:hover{left: 104px;}
.hoverright-104px:hover{right: 104px;}




.hovertop-5px:hover{top: 5px;}
.hoverbottom-5px:hover{bottom: 5px;}
.hoverleft-5px:hover{left: 5px;}
.hoverright-5px:hover{right: 5px;}


.hovertop-15px:hover{top: 15px;}
.hoverbottom-15px:hover{bottom: 15px;}
.hoverleft-15px:hover{left: 15px;}
.hoverright-15px:hover{right: 15px;}


.hovertop-25px:hover{top: 25px;}
.hoverbottom-25px:hover{bottom: 25px;}
.hoverleft-25px:hover{left: 25px;}
.hoverright-25px:hover{right: 25px;}


.hovertop-35px:hover{top: 35px;}
.hoverbottom-35px:hover{bottom: 35px;}
.hoverleft-35px:hover{left: 35px;}
.hoverright-35px:hover{right: 35px;}


.hovertop-45px:hover{top: 45px;}
.hoverbottom-45px:hover{bottom: 45px;}
.hoverleft-45px:hover{left: 45px;}
.hoverright-45px:hover{right: 45px;}


.hovertop-55px:hover{top: 55px;}
.hoverbottom-55px:hover{bottom: 55px;}
.hoverleft-55px:hover{left: 55px;}
.hoverright-55px:hover{right: 55px;}


.hovertop-65px:hover{top: 65px;}
.hoverbottom-65px:hover{bottom: 65px;}
.hoverleft-65px:hover{left: 65px;}
.hoverright-65px:hover{right: 65px;}


.hovertop-75px:hover{top: 75px;}
.hoverbottom-75px:hover{bottom: 75px;}
.hoverleft-75px:hover{left: 75px;}
.hoverright-75px:hover{right: 75px;}


.hovertop-85px:hover{top: 85px;}
.hoverbottom-85px:hover{bottom: 85px;}
.hoverleft-85px:hover{left: 85px;}
.hoverright-85px:hover{right: 85px;}


.hovertop-95px:hover{top: 95px;}
.hoverbottom-95px:hover{bottom: 95px;}
.hoverleft-95px:hover{left: 95px;}
.hoverright-95px:hover{right: 95px;}


.hovertop-105px:hover{top: 105px;}
.hoverbottom-105px:hover{bottom: 105px;}
.hoverleft-105px:hover{left: 105px;}
.hoverright-105px:hover{right: 105px;}




.hovertop-6px:hover{top: 6px;}
.hoverbottom-6px:hover{bottom: 6px;}
.hoverleft-6px:hover{left: 6px;}
.hoverright-6px:hover{right: 6px;}


.hovertop-16px:hover{top: 16px;}
.hoverbottom-16px:hover{bottom: 16px;}
.hoverleft-16px:hover{left: 16px;}
.hoverright-16px:hover{right: 16px;}


.hovertop-26px:hover{top: 26px;}
.hoverbottom-26px:hover{bottom: 26px;}
.hoverleft-26px:hover{left: 26px;}
.hoverright-26px:hover{right: 26px;}


.hovertop-36px:hover{top: 36px;}
.hoverbottom-36px:hover{bottom: 36px;}
.hoverleft-36px:hover{left: 36px;}
.hoverright-36px:hover{right: 36px;}


.hovertop-46px:hover{top: 46px;}
.hoverbottom-46px:hover{bottom: 46px;}
.hoverleft-46px:hover{left: 46px;}
.hoverright-46px:hover{right: 46px;}


.hovertop-56px:hover{top: 56px;}
.hoverbottom-56px:hover{bottom: 56px;}
.hoverleft-56px:hover{left: 56px;}
.hoverright-56px:hover{right: 56px;}


.hovertop-66px:hover{top: 66px;}
.hoverbottom-66px:hover{bottom: 66px;}
.hoverleft-66px:hover{left: 66px;}
.hoverright-66px:hover{right: 66px;}


.hovertop-76px:hover{top: 76px;}
.hoverbottom-76px:hover{bottom: 76px;}
.hoverleft-76px:hover{left: 76px;}
.hoverright-76px:hover{right: 76px;}


.hovertop-86px:hover{top: 86px;}
.hoverbottom-86px:hover{bottom: 86px;}
.hoverleft-86px:hover{left: 86px;}
.hoverright-86px:hover{right: 86px;}


.hovertop-96px:hover{top: 96px;}
.hoverbottom-96px:hover{bottom: 96px;}
.hoverleft-96px:hover{left: 96px;}
.hoverright-96px:hover{right: 96px;}


.hovertop-106px:hover{top: 106px;}
.hoverbottom-106px:hover{bottom: 106px;}
.hoverleft-106px:hover{left: 106px;}
.hoverright-106px:hover{right: 106px;}




.hovertop-7px:hover{top: 7px;}
.hoverbottom-7px:hover{bottom: 7px;}
.hoverleft-7px:hover{left: 7px;}
.hoverright-7px:hover{right: 7px;}


.hovertop-17px:hover{top: 17px;}
.hoverbottom-17px:hover{bottom: 17px;}
.hoverleft-17px:hover{left: 17px;}
.hoverright-17px:hover{right: 17px;}


.hovertop-27px:hover{top: 27px;}
.hoverbottom-27px:hover{bottom: 27px;}
.hoverleft-27px:hover{left: 27px;}
.hoverright-27px:hover{right: 27px;}


.hovertop-37px:hover{top: 37px;}
.hoverbottom-37px:hover{bottom: 37px;}
.hoverleft-37px:hover{left: 37px;}
.hoverright-37px:hover{right: 37px;}


.hovertop-47px:hover{top: 47px;}
.hoverbottom-47px:hover{bottom: 47px;}
.hoverleft-47px:hover{left: 47px;}
.hoverright-47px:hover{right: 47px;}


.hovertop-57px:hover{top: 57px;}
.hoverbottom-57px:hover{bottom: 57px;}
.hoverleft-57px:hover{left: 57px;}
.hoverright-57px:hover{right: 57px;}


.hovertop-67px:hover{top: 67px;}
.hoverbottom-67px:hover{bottom: 67px;}
.hoverleft-67px:hover{left: 67px;}
.hoverright-67px:hover{right: 67px;}


.hovertop-77px:hover{top: 77px;}
.hoverbottom-77px:hover{bottom: 77px;}
.hoverleft-77px:hover{left: 77px;}
.hoverright-77px:hover{right: 77px;}


.hovertop-87px:hover{top: 87px;}
.hoverbottom-87px:hover{bottom: 87px;}
.hoverleft-87px:hover{left: 87px;}
.hoverright-87px:hover{right: 87px;}


.hovertop-97px:hover{top: 97px;}
.hoverbottom-97px:hover{bottom: 97px;}
.hoverleft-97px:hover{left: 97px;}
.hoverright-97px:hover{right: 97px;}


.hovertop-107px:hover{top: 107px;}
.hoverbottom-107px:hover{bottom: 107px;}
.hoverleft-107px:hover{left: 107px;}
.hoverright-107px:hover{right: 107px;}




.hovertop-8px:hover{top: 8px;}
.hoverbottom-8px:hover{bottom: 8px;}
.hoverleft-8px:hover{left: 8px;}
.hoverright-8px:hover{right: 8px;}


.hovertop-18px:hover{top: 18px;}
.hoverbottom-18px:hover{bottom: 18px;}
.hoverleft-18px:hover{left: 18px;}
.hoverright-18px:hover{right: 18px;}


.hovertop-28px:hover{top: 28px;}
.hoverbottom-28px:hover{bottom: 28px;}
.hoverleft-28px:hover{left: 28px;}
.hoverright-28px:hover{right: 28px;}


.hovertop-38px:hover{top: 38px;}
.hoverbottom-38px:hover{bottom: 38px;}
.hoverleft-38px:hover{left: 38px;}
.hoverright-38px:hover{right: 38px;}


.hovertop-48px:hover{top: 48px;}
.hoverbottom-48px:hover{bottom: 48px;}
.hoverleft-48px:hover{left: 48px;}
.hoverright-48px:hover{right: 48px;}


.hovertop-58px:hover{top: 58px;}
.hoverbottom-58px:hover{bottom: 58px;}
.hoverleft-58px:hover{left: 58px;}
.hoverright-58px:hover{right: 58px;}


.hovertop-68px:hover{top: 68px;}
.hoverbottom-68px:hover{bottom: 68px;}
.hoverleft-68px:hover{left: 68px;}
.hoverright-68px:hover{right: 68px;}


.hovertop-78px:hover{top: 78px;}
.hoverbottom-78px:hover{bottom: 78px;}
.hoverleft-78px:hover{left: 78px;}
.hoverright-78px:hover{right: 78px;}


.hovertop-88px:hover{top: 88px;}
.hoverbottom-88px:hover{bottom: 88px;}
.hoverleft-88px:hover{left: 88px;}
.hoverright-88px:hover{right: 88px;}


.hovertop-98px:hover{top: 98px;}
.hoverbottom-98px:hover{bottom: 98px;}
.hoverleft-98px:hover{left: 98px;}
.hoverright-98px:hover{right: 98px;}


.hovertop-108px:hover{top: 108px;}
.hoverbottom-108px:hover{bottom: 108px;}
.hoverleft-108px:hover{left: 108px;}
.hoverright-108px:hover{right: 108px;}




.hovertop-9px:hover{top: 9px;}
.hoverbottom-9px:hover{bottom: 9px;}
.hoverleft-9px:hover{left: 9px;}
.hoverright-9px:hover{right: 9px;}


.hovertop-19px:hover{top: 19px;}
.hoverbottom-19px:hover{bottom: 19px;}
.hoverleft-19px:hover{left: 19px;}
.hoverright-19px:hover{right: 19px;}


.hovertop-29px:hover{top: 29px;}
.hoverbottom-29px:hover{bottom: 29px;}
.hoverleft-29px:hover{left: 29px;}
.hoverright-29px:hover{right: 29px;}


.hovertop-39px:hover{top: 39px;}
.hoverbottom-39px:hover{bottom: 39px;}
.hoverleft-39px:hover{left: 39px;}
.hoverright-39px:hover{right: 39px;}


.hovertop-49px:hover{top: 49px;}
.hoverbottom-49px:hover{bottom: 49px;}
.hoverleft-49px:hover{left: 49px;}
.hoverright-49px:hover{right: 49px;}


.hovertop-59px:hover{top: 59px;}
.hoverbottom-59px:hover{bottom: 59px;}
.hoverleft-59px:hover{left: 59px;}
.hoverright-59px:hover{right: 59px;}


.hovertop-69px:hover{top: 69px;}
.hoverbottom-69px:hover{bottom: 69px;}
.hoverleft-69px:hover{left: 69px;}
.hoverright-69px:hover{right: 69px;}


.hovertop-79px:hover{top: 79px;}
.hoverbottom-79px:hover{bottom: 79px;}
.hoverleft-79px:hover{left: 79px;}
.hoverright-79px:hover{right: 79px;}


.hovertop-89px:hover{top: 89px;}
.hoverbottom-89px:hover{bottom: 89px;}
.hoverleft-89px:hover{left: 89px;}
.hoverright-89px:hover{right: 89px;}


.hovertop-99px:hover{top: 99px;}
.hoverbottom-99px:hover{bottom: 99px;}
.hoverleft-99px:hover{left: 99px;}
.hoverright-99px:hover{right: 99px;}


.hovertop-109px:hover{top: 109px;}
.hoverbottom-109px:hover{bottom: 109px;}
.hoverleft-109px:hover{left: 109px;}
.hoverright-109px:hover{right: 109px;}




.hovertop-0px:hover{top: 0px;}
.hoverbottom-0px:hover{bottom: 0px;}
.hoverleft-0px:hover{left: 0px;}
.hoverright-0px:hover{right: 0px;}


.hovertop-10px:hover{top: 10px;}
.hoverbottom-10px:hover{bottom: 10px;}
.hoverleft-10px:hover{left: 10px;}
.hoverright-10px:hover{right: 10px;}


.hovertop-20px:hover{top: 20px;}
.hoverbottom-20px:hover{bottom: 20px;}
.hoverleft-20px:hover{left: 20px;}
.hoverright-20px:hover{right: 20px;}


.hovertop-30px:hover{top: 30px;}
.hoverbottom-30px:hover{bottom: 30px;}
.hoverleft-30px:hover{left: 30px;}
.hoverright-30px:hover{right: 30px;}


.hovertop-40px:hover{top: 40px;}
.hoverbottom-40px:hover{bottom: 40px;}
.hoverleft-40px:hover{left: 40px;}
.hoverright-40px:hover{right: 40px;}


.hovertop-50px:hover{top: 50px;}
.hoverbottom-50px:hover{bottom: 50px;}
.hoverleft-50px:hover{left: 50px;}
.hoverright-50px:hover{right: 50px;}


.hovertop-60px:hover{top: 60px;}
.hoverbottom-60px:hover{bottom: 60px;}
.hoverleft-60px:hover{left: 60px;}
.hoverright-60px:hover{right: 60px;}


.hovertop-70px:hover{top: 70px;}
.hoverbottom-70px:hover{bottom: 70px;}
.hoverleft-70px:hover{left: 70px;}
.hoverright-70px:hover{right: 70px;}


.hovertop-80px:hover{top: 80px;}
.hoverbottom-80px:hover{bottom: 80px;}
.hoverleft-80px:hover{left: 80px;}
.hoverright-80px:hover{right: 80px;}


.hovertop-90px:hover{top: 90px;}
.hoverbottom-90px:hover{bottom: 90px;}
.hoverleft-90px:hover{left: 90px;}
.hoverright-90px:hover{right: 90px;}


.hovertop-100px:hover{top: 100px;}
.hoverbottom-100px:hover{bottom: 100px;}
.hoverleft-100px:hover{left: 100px;}
.hoverright-100px:hover{right: 100px;}



